<div id='content' data-role='content' style="text-align: center;">
    <form action="{{ url_for('calendar') }}" method=post>
        <div style="margin-top:15%; width:30%; height:30%;margin-left:35%;margin-right:30%;font-family:Comic Sans MS, Comic Sans;" >
          
                
            <div>
                <h2>Welcome to MarkUrDay</h2>
            </div>
            
                
           
			 <dl>
                <button name="save" type="submit" value="Save">Save</button> <br /><br/>
                
            </dl>
        </div>
    </form>
</div>
