

<div id='content' data-role='content' style="text-align: center;">
<form action="{{ url_for('register') }}" method=post>
    <div style="margin-top:15%; width:30%; height:30%;margin-left:35%;margin-right:30%;font-family:Comic Sans MS, Comic Sans;" >

        <div>
            <h2>Register</h2>
        </div>
        <dl>
            <dt>Name:
            <dd><input type=text name=name>
            <dt>Email Address:
            <dd><input type=text name=email>
            <dt>Password:
            <dd><input type=password name=password>
            <dt>Confirm Password:
            <dd><input type=password name=confirm_password>
            <dt>
            <dd><input name=register type=submit value=Register>
        </dl>
    </div>
</form>
</div>
